body {
    margin: 0;
   
}
.container{
    display: flex;
    height: 100vh;
}
.leftContainer{
    flex: 0 auto;
    width: 20vw;
    background-color: rgba(220, 220, 220, 0.72);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: solid thin rgba(220, 220, 220, 0.72);
}
.leftContainer ul{
    padding-left: 10px;
}

.rightContainer{
    display: flex;
    flex: 0 auto;
    flex-direction: column;
    width: 80vw;
    padding-left: 10px;
}

#today{
    list-style: none;
    display: flex;
    align-items: center;
}
#today::before{
    content:"";
    display: inline-block;
    background-image: url("images/today.svg");
    background-repeat:no-repeat;
    background-size: contain;
    margin-right: 5px;
    width: 20px;
    height: 20px;

}

#upcoming{
    list-style: none;
    display: flex;
    align-items: center;
}
#upcoming::before{
    content:"";
    display: inline-block;
    background-image: url("images/upcoming.svg");
    background-repeat:no-repeat;
    background-size: contain;
    margin-right: 5px;
    width: 20px;
    height: 20px;

}

#anytime{
    list-style: none;
    display: flex;
    align-items: center;
}
#anytime::before{
    content:"";
    display: inline-block;
    background-image: url("images/anytime.svg");
    background-repeat:no-repeat;
    background-size: contain;
    margin-right: 5px;
    width: 20px;
    height: 20px;

}
#someday{
    list-style: none;
    display: flex;
    align-items: center;
}
#someday::before{
    content:"";
    display: inline-block;
    background-image: url("images/someday.svg");
    background-repeat:no-repeat;
    background-size: contain;
    margin-right: 5px;
    width: 20px;
    height: 20px;

}
ul{
    padding-left: 0;
}
ul > * {
    margin-bottom: 10px;
}

#projectsList{
    display: flex;
    flex-direction: column;
}
#projectsList ul li {
    list-style: none;
}
.leftFooter{
    margin-top: auto;
    display: flex;
    border-top: solid thin rgba(115, 111, 111, 0.268);
    width: 100%;
    
    
}
.leftFooter ul{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    align-items: center;
}
#newList{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
#newList::before{
    content:"";
    display: inline-block;
    background-image: url("images/plus.svg");
    background-repeat:no-repeat;
    background-size: contain;
    margin-right: 5px;
    width: 20px;
    height: 20px;

}
#settings{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 0px;
    
}
#settings::before{
    content:"";
    display: inline-block;
    background-image: url("images/tune-vertical.svg");
    background-repeat:no-repeat;
    background-size: contain;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
label{
    display: flex;
    align-items: center;
    
}

.projectContainer{
    display: flex;
    flex-direction: column;
}

.projectContainer ul{
    margin-left: 30px;
}

.projectFooter {
    margin-top: auto;
}