body {
    margin: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.leftContainer{
    flex: 0 auto;
    width: 20vw;
    height: 100vh;
    background-color: rgba(220, 220, 220, 0.72);
}
.rightContainer{
    flex:0 auto;
}